/**
* 不可选择文本
*/
.text-unselect
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none;
}

/**
* 列表状态
*/
.list-state {
    font-weight: normal;
    display: block;
}

.list-state > li,
.list-state > dl{
    cursor:pointer;
    display:block;
}

.list-state > dl:hover,
.list-state > dl:focus,
.list-state > li:hover,
.list-state > li:focus
{
    background-color: rgb(23, 137, 186);
    color: #a8f2ff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.list-state > dl:active,
.list-state > dl.active,
.list-state > li:active,
.list-state > li.active
{
    background-color: #2a71a2;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.list-state > dl.disabled,
.list-state > dl[disabled]
.list-state > li.disabled,
.list-state > li[disabled]
{
    background-color: rgb(211, 205, 206);
    color: #a5a5a5;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor:default;
}




[component=selection]
{
    background-color: #337ab7;
}

